.products-list {
  display: grid;
  gap: 15px;

  &.grid-view {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  &.list-view {
    display: block;
  }

  .product-card {
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    nb-card-header img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    nb-card-body {
      padding: 10px;
      .product-name {
        font-weight: bold;
        font-size: 1.1rem;
      }

      .product-brand {
        font-size: 0.9rem;
        color: #666;
      }

      .product-price {
        font-size: 1.2rem;
        color: #e53935;
      }

      .product-description {
        font-size: 0.9rem;
        color: #555;
        margin-top: 5px;
      }
    }
  }
}
