version: '3.9'
services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: techhouse-server
    env_file:
      - ./server/.env
    ports:
      - "5001:5001"
    volumes:
      - ./server:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev
    depends_on:
      - mongo

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: techhouse-client
    ports:
      - "4200:4200"
    volumes:
      - ./client:/usr/src/app
      - /usr/src/app/node_modules
    command: npm start
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - server

  mongo:
    image: mongo:6
    container_name: techhouse-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
