<nb-card [isLoading]="isLoading">
    <nb-card-header class="d-flex justify-content-between align-items-center">
        <div class="my-auto">Quản lý đơn hàng</div>
    </nb-card-header>

    <nb-card-body>
        <div class="filter-wrapper mb-2">
            <!-- Status filter -->
            <div class="filter-item">
                <label class="filter-label">Trạng thái</label>
                <nb-select [(selected)]="selectedStatus" placeholder="Chọn trạng thái"
                    (selectedChange)="onFilterChange()">
                    <nb-option value="">Tất cả</nb-option>
                    <nb-option *ngFor="let status of orderStatusList" [value]="status.value">
                        {{ getOrderStatusLabel(status.value) }}</nb-option>
                </nb-select>
            </div>


            <!-- Sort -->
            <div class="filter-item">
                <label class="filter-label">Sắp xếp</label>
                <nb-select [(selected)]="selectedSort" placeholder="Mặc định" (selectedChange)="onFilterChange()">
                    <nb-option value="">Mặc định</nb-option>
                    <nb-option value="newest">Mới nhất</nb-option>
                    <nb-option value="oldest">Cũ nhất</nb-option>
                </nb-select>
            </div>
        </div>
        <div class="filter-wrapper">
            <!-- Search -->
            <div class="filter-item">
                <label class="filter-label">Mã đơn hàng</label>
                <input nbInput placeholder="Nhập mã đơn hàng..." [(ngModel)]="searchOrderCode">
            </div>

            <div class="filter-item">
                <label class="filter-label">Khách hàng</label>
                <input nbInput placeholder="ID hoặc email khách hàng..." [(ngModel)]="searchKeyword">
            </div>
            <button nbButton status="primary" (click)="onFilterChange()">Search</button>
        </div>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <div class="table-responsive">
            <table class="table table-striped table-hover align-middle">
                <thead class="table-dark text-center">
                    <tr>
                        <th>#</th>
                        <th>Mã đơn hàng</th>
                        <th>Mã khách hàng</th>
                        <th>Email khách</th>
                        <th>Ngày đặt</th>
                        <th>Trạng thái</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền</th>
                        <th>Điểm sử dụng</th>
                        <th>Điểm thưởng</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="orders && orders.length > 0; else empty">
                        <tr *ngFor="let order of orders; let i = index" class="text-center">
                            <td>{{ (_paging.pageIndex - 1) * _paging.pageSize + i + 1 }}</td>
                            <td>{{ order.orderCode }}</td>
                            <td>{{ order.user }}</td>
                            <td>{{ order.contactEmail }}</td>
                            <td>{{ order.placedAt | date:'short' }}</td>
                            <td>
                                <ngx-tag [TagStatus]="order.status">{{ getOrderStatusLabel(order.status) }}</ngx-tag>
                            </td>
                            <td>{{ order.items.length }}</td>
                            <td>{{ order.total | currency:'VND':'symbol' }}</td>
                            <td>{{ order.points_used }}</td>
                            <td>{{ order.points_earned }}</td>
                            <td class="text-center">
                                <button nbButton size="tiny" status="info" (click)="viewOrderDetail(order)">
                                    <nb-icon icon="eye-outline"></nb-icon> View
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <ngx-paging [pageIndex]="_paging.pageIndex" [pageSize]="_paging.pageSize" [totalItems]="_paging.totalItems"
            (onPageChange)="onPageChange($event)">
        </ngx-paging>
    </nb-card-body>
</nb-card>

<ng-template #empty>
    <tr>
        <td colspan="10" class="fw-bold text-center text-muted">
            Không có đơn hàng nào
        </td>
    </tr>
</ng-template>