<div class="auth-container">
    <!-- Cột trái: Login -->
    <div class="auth-left">
        <h2 class="text-white">{{ 'auth.login.title' | translate }}</h2>
        <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
            <input nbInput fullWidth placeholder="{{ 'auth.login.username' | translate }}" formControlName="username" />
            <input nbInput fullWidth placeholder="{{ 'auth.login.password' | translate }}" type="password"
                formControlName="password" />
            <button nbButton status="primary" fullWidth type="submit">{{ 'auth.login.button-login' | translate
                }}</button>
        </form>

        <div class="social-login">
            <button nbButton status="danger" fullWidth>
                <nb-icon icon="google-outline"></nb-icon> Google
            </button>
            <button nbButton status="info" fullWidth>
                <nb-icon icon="facebook-outline"></nb-icon> Facebook
            </button>
        </div>
    </div>

    <!-- Cột phải: Sign Up -->
    <div class="auth-right">
        <h2>Đăng ký</h2>
        <form (ngSubmit)="onSignup()" [formGroup]="signupForm">
            <input nbInput fullWidth placeholder="Username" formControlName="username" />
            <input nbInput fullWidth placeholder="Email" formControlName="email" />
            <input nbInput fullWidth placeholder="Phone" formControlName="phone" />
            <input nbInput fullWidth placeholder="Password" type="password" formControlName="password" />
            <input nbInput fullWidth placeholder="Confirm Password" type="password" formControlName="confirmPassword" />
            <button nbButton status="success" fullWidth type="submit">Đăng ký</button>
        </form>
    </div>
</div>