<nb-card [isLoading]="isLoading">
    <nb-card-header class="d-flex align-items-center position-relative justify-content-between">
        <div class="my-auto">Danh sách người dùng</div>
    </nb-card-header>
    <nb-card-body>
        <div class="filter-wrapper">
            <!-- Status -->
            <div class="filter-item">
                <label class="filter-label">Trạng thái</label>
                <nb-select [(selected)]="selectedStatus" placeholder="Chọn trạng thái"
                    (selectedChange)="onFilterChange()">
                    <nb-option value="">Tất cả</nb-option>
                    <nb-option *ngFor="let s of userStatusList" [value]="s.label">
                        {{ s.label }}
                    </nb-option>
                </nb-select>
            </div>

            <!-- Brand -->
            <div class="filter-item">
                <label class="filter-label">Nhóm quyền</label>
                <nb-select [(selected)]="selectedRole" placeholder="Chọn nhóm quyền"
                    (selectedChange)="onFilterChange()">
                    <nb-option value="">Tất cả</nb-option>
                    <nb-option *ngFor="let r of rolesList" [value]="r.label">
                        {{ r.value }}
                    </nb-option>
                </nb-select>
            </div>
        </div>
        <div class="filter-wrapper mt-2">
            <!-- Tìm theo Q -->
            <div class="filter-item">
                <label class="filter-label">Tìm theo tên</label>
                <input nbInput placeholder="Nhập tên..." [(ngModel)]="searchName">
            </div>
            <div class="filter-item">
                <label class="filter-label">Tìm theo email</label>
                <input nbInput placeholder="Nhập email..." [(ngModel)]="searchEmail">
            </div>
            <div class="filter-item">
                <label class="filter-label">Tìm theo số điện thoại</label>
                <input nbInput placeholder="Nhập số điện thoại..." [(ngModel)]="searchPhone">
            </div>
            <button nbButton status="primary" (click)="onFilterChange()">Search</button>
        </div>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <div class="table-responsive">
            <table class="table table-striped table-hover align-middle">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th>#</th>
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>Điện thoại</th>
                        <th>Quyền</th>
                        <th>Trạng thái</th>
                        <th>Ngày tạo</th>
                        <th>Thay đổi cuối</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="users && users.length > 0; else empty">
                        <tr *ngFor="let u of users; let i = index">
                            <td>{{ (_paging.pageIndex - 1) * _paging.pageSize + i + 1 }}</td>
                            <td>{{ u.fullname }}</td>
                            <td>{{ u.email }}</td>
                            <td>{{ u.phone }}</td>
                            <td>
                                <ngx-tag
                                    [TagStatus]="u.role == roles.ADMIN ? _statusServiceTag.PRIMARY : _statusServiceTag.WARNING ">
                                    {{ u.role}}
                                </ngx-tag>
                            </td>
                            <td>
                                <ngx-tag
                                    [TagStatus]="u.isBanned ? _statusServiceTag.BANDED : _statusServiceTag.ACTIVE ">
                                    {{ u.isBanned ? _statusServiceTag.BANDED : _statusServiceTag.ACTIVE }}
                                </ngx-tag>
                            </td>
                            <td>{{ u.createdAt| date:'dd/MM/yyyy HH:mm:ss' }}</td>
                            <td>{{ u.updatedAt| date:'dd/MM/yyyy HH:mm:ss' }}</td>
                            <td class="text-center d-flex justify-content-around">
                                <button nbButton size="tiny" status="info" (click)="openEditModalUser(u)"
                                    [nbTooltip]="'tooltips.user-page.view-detail' | translate"
                                    nbTooltipStatus="primary">
                                    <nb-icon icon="file-text-outline"></nb-icon>
                                </button>
                                <button nbButton size="tiny" [status]="!u?.isBanned ? 'success' : 'warning'"
                                    class="ms-1" [nbTooltip]="!u?.isBanned 
                                    ? ('tooltips.user-page.unban' | translate)
                                    : ('tooltips.user-page.ban' | translate)" nbTooltipStatus="primary"
                                    (click)="bandAccHandle(u)">
                                    <nb-icon [icon]="!u?.isBanned ?  'unlock' : 'lock-outline'">
                                    </nb-icon>
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <ngx-paging [pageIndex]="_paging.pageIndex" [pageSize]="_paging.pageSize" [totalItems]="_paging.totalItems"
            (onPageChange)="onPageChange($event)">></ngx-paging>
    </nb-card-body>
</nb-card>

<ng-template #empty>
    <tr>
        <td colspan="10" class="fw-bold text-center text-muted">
            No items
        </td>
    </tr>
</ng-template>