<div class="upload-zone" [class.dragging]="isDragging" (drop)="onDrop($event)" (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave()">

    <p>Kéo thả hình hoặc</p>

    <button type="button" class="btn-select" (click)="fileInput.click()" [disabled]="files.length >= maxFiles">
        Chọn ảnh ({{files.length}} / {{maxFiles}})
    </button>

    <input #fileInput type="file" multiple accept="image/*" (change)="onFileSelect($event)" hidden />
</div>

<div class="preview-list">
    <div class="image-box" *ngFor="let p of previewUrls; let i = index">

        <img [src]="p" />

        <!-- Nút xoá -->
        <button type="button" class="btn-remove" (click)="removeFile(i)">×</button>

        <div class="progress-bar" *ngIf="progress[i] < 100">
            <div class="progress-fill" [style.width.%]="progress[i]"></div>
        </div>
    </div>
</div>