
<div class="auth-container">
    <div class="auth-left">
        <h2 class="text-white">{{ 'auth.title' | translate }}</h2>

        <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
            <input
                nbInput
                fullWidth
                placeholder="{{ 'auth.email' | translate }}"
                formControlName="email"
            />

            <input
                nbInput
                fullWidth
                placeholder="{{ 'auth.password' | translate }}"
                type="password"
                formControlName="password"
            />

            <div
                *ngIf="isInvalidLogin"
                class="text-white text-center w-100 badge bg-danger fw-bold pt-2 pb-2"
            >
                {{ loginMsg || '' }}
            </div>

            <button nbButton status="primary" fullWidth type="submit">
                {{ 'auth.button-login' | translate }}
            </button>
        </form>

        <div class="social-login">
            <button nbButton status="danger" (click)="googleLogin()" fullWidth>
                <nb-icon icon="google-outline"></nb-icon>
                {{ 'auth.google-login' | translate }}
            </button>

            <button nbButton status="info" fullWidth>
                <nb-icon icon="facebook-outline"></nb-icon>
                Facebook
            </button>
        </div>

    </div>
</div>
