.edit-product-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 500px !important;

    .form-label {
        font-weight: 500;
    }

    input,
    nb-select {
        font-size: 14px;
    }

    .text-danger {
        font-size: 12px;
        color: #f44336;
    }
}